.menu-btn {
  margin-top: 5px;
  width: 100%;
}

.card-header {
  background-color: lightskyblue;
  padding-bottom: 0px;
}

.footer {
  background-color: lightskyblue;
}

.ling-date {
  float: right;
}

.ling-reply {
  width: 100%;
  height: 50px;
  padding: 0px;
}